In [9]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\ny-flights.csv")

In [13]:
df

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01 00:00:00,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01 00:00:00,AA,19805,N335AA,3,JFK,LAX,1157.0,-3.0,1523.0,13.0,0.0,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01 00:00:00,AA,19805,N327AA,21,JFK,LAX,1902.0,2.0,2224.0,9.0,0.0,2014-01-01 22:24:00,2014-01-01 19:02:00
3,2014-01-01 00:00:00,AA,19805,N3EHAA,29,LGA,PBI,722.0,-8.0,1014.0,-26.0,0.0,2014-01-01 10:14:00,2014-01-01 07:22:00
4,2014-01-01 00:00:00,AA,19805,N319AA,117,JFK,LAX,1347.0,2.0,1706.0,1.0,0.0,2014-01-01 17:06:00,2014-01-01 13:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31 00:00:00,UA,19977,N54711,1253,ROC,ORD,801.0,-4.0,908.0,4.0,0.0,2014-01-31 09:08:00,2014-01-31 08:01:00
20813,2014-01-31 00:00:00,UA,19977,N77525,1429,LGA,CLE,1522.0,-10.0,1649.0,-31.0,0.0,2014-01-31 16:49:00,2014-01-31 15:22:00
20814,2014-01-31 00:00:00,UA,19977,N37293,1456,LGA,IAH,719.0,-6.0,1006.0,-20.0,0.0,2014-01-31 10:06:00,2014-01-31 07:19:00
20815,2014-01-31 00:00:00,UA,19977,N24729,1457,LGA,IAH,852.0,7.0,1156.0,-6.0,0.0,2014-01-31 11:56:00,2014-01-31 08:52:00
20816,2014-01-31 00:00:00,MQ,20398,N609MQ,3699,BUF,ORD,1208.0,-12.0,1251.0,-19.0,0.0,2014-01-31 12:51:00,2014-01-31 12:08:00

In [17]:
#find null values
(df.isna()).sum()

fl_date              0
unique_carrier       0
airline_id           0
tail_num           305
fl_num               0
origin               0
dest                 0
dep_time          2355
dep_delay         2355
arr_time          2405
arr_delay         2434
cancelled            0
arr               2405
dep               2355
dtype: int64

In [19]:
#flights id thats present min num of times

In [23]:
df.groupby("airline_id")["airline_id"].count().sort_values().head(1)

airline_id
20304    11
Name: airline_id, dtype: int64

In [25]:
#flights departed on 2014-01-01 09:14:00

In [31]:
df[df["dep"]=='2014-01-01 09:14:00']

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01 00:00:00,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00

In [33]:
# flights originated from JFK

In [35]:
df[df["origin"]=="JFK"]

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01 00:00:00,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01 00:00:00,AA,19805,N335AA,3,JFK,LAX,1157.0,-3.0,1523.0,13.0,0.0,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01 00:00:00,AA,19805,N327AA,21,JFK,LAX,1902.0,2.0,2224.0,9.0,0.0,2014-01-01 22:24:00,2014-01-01 19:02:00
4,2014-01-01 00:00:00,AA,19805,N319AA,117,JFK,LAX,1347.0,2.0,1706.0,1.0,0.0,2014-01-01 17:06:00,2014-01-01 13:47:00
5,2014-01-01 00:00:00,AA,19805,N323AA,185,JFK,LAX,2133.0,-2.0,37.0,-18.0,0.0,2014-01-01 00:37:00,2014-01-01 21:33:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20796,2014-01-31 00:00:00,UA,19977,N595UA,535,JFK,LAX,1750.0,-4.0,2108.0,-9.0,0.0,2014-01-31 21:08:00,2014-01-31 17:50:00
20800,2014-01-31 00:00:00,UA,19977,N546UA,642,JFK,SFO,1023.0,-2.0,1424.0,24.0,0.0,2014-01-31 14:24:00,2014-01-31 10:23:00
20807,2014-01-31 00:00:00,UA,19977,N568UA,703,JFK,LAX,831.0,-4.0,1204.0,4.0,0.0,2014-01-31 12:04:00,2014-01-31 08:31:00
20809,2014-01-31 00:00:00,UA,19977,N510UA,766,JFK,SFO,1152.0,-8.0,1523.0,-8.0,0.0,2014-01-31 15:23:00,2014-01-31 11:52:00
20810,2014-01-31 00:00:00,UA,19977,N502UA,841,JFK,LAX,1443.0,-2.0,1813.0,9.0,0.0,2014-01-31 18:13:00,2014-01-31 14:43:00